.bubble1 {
    position: absolute;
    top: 220px;
    left: 60px;
    animation: bubble1 7s infinite alternate ease-in-out;
    z-index: 1;
    width: 34px;
    height: 35px;
}

@keyframes bubble1 {
    from {
      transform: translate(-10%, 0%);
    }
    to {
      transform: translate(140%, 30%);
    }
}