.bubble6 {
    position: absolute;
    bottom: -80px;
    left: 200px;
    animation: bubble6 3s infinite alternate linear;
    z-index: 3;
    width: 142px;
    height: 142px;
}

@keyframes bubble6 {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1.2);
    }
}